# Python
backend/__pycache__/
backend/**/__pycache__/
backend/*.py[cod]
backend/**/*.py[cod]
backend/*.pyo
backend/*.db
backend/.venv/
backend/env/
backend/.env
backend/.env.*
backend/alembic/versions/*.pyc
backend/scripts/test_password.py

# Node
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env
frontend/.env.*
frontend/dist/
frontend/build/

# System
.DS_Store
*.log
